.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  header, footer {
    width: 100%;
    max-width: 1180px;
  }

  section {
    display: flex;
    width: 100%;
    
    > div {
      margin: 0 auto;
      width: 100%;
      max-width: 1180px;
    }
  }
}